{% extends "base.html" %}

{% block content %}
<h1>List of Accounts</h1> 
<div class="row">
    {% for item in accounts %}
    <div class="card w-25 bg-light" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ item.account_name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ item.account_balance }}</h6>
          {% if item.account_number%}
          <p class="card-text">Account Number: <br> {{ item.account_number }}</p>
          {%else%}
          <p class="card-text">No Account Number</p>
          {%endif%}
          <a href="accounts/update/{{ item.id }}" class="card-link">Update</a>
          <a href="accounts/delete/{{ item.id }}" class="card-link">Delete</a>
        </div>
      </div>
    {% endfor %}
</div>
</table>
{% endblock %}
