{% extends "base.html" %}

{% block content %}
<h1>{{ request.user }} has {{count}} expences so far!</h1>

<div class="list-group">
    <a href="{% url 'create_account' %}" class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">Add New Expence</div>
        </div>
    </a>

    {% for item in expenses %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">{{ item.expense_description }}</div>
            {{ item.expense_date.date }}<br>
            <a href="expenses/update/{{ item.id }}">Edit</a>
            <a href="expenses/delete/{{ item.id }}">Delete</a>
            {%if item.note%}
            {{ item.expense_note }}
            {%endif%}
            {{ item.expense_account }}
        </div>
        <span class="badge bg-primary ">{{ item.expense_amount }}</span>
    </li>
{% endfor %}
</div>
{% endblock %}
