{% extends "base.html" %}

{% block content %}

<h1>List of Incomes</h1>
 <table>
    <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Note</th>
        <th>Account</th>
    </tr>
    {% for item in income_list %}
        <tr>
            <td>{{ item.income_date.date }}</td>
            <td>{{ item.income_amount }}</td>
            <td>{{ item.income_description }}</td>
            <td>{{ item.income_note }}</td>
            <td>{{ item.income_account }}</td>
            <td><a href="income/update/{{ item.id }}">Edit</a></td>
            <td><a href="income/delete/{{ item.id }}">Delete</a></td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
