<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list</title>
</head>
<body>
 <h1>Expences</h1>
 <table>
    <tr>
        <th>Date</th>
        <th>Catagory</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Note</th>
        <th>Account</th>
    </tr>
    {% for item in expences %}
        <tr>
            <td>{{ item.expense_date }}</td>
            <td>{{ item.expense_category }}</td>
            <td>{{ item.expense_amount }}</td>
            <td>{{ item.expense_description }}</td>
            <td>{{ item.expense_note }}</td>
            <td>{{ item.expense_account }}</td>
            <td><a href="#">Edit</a></td>
            <td><a href="#">Delete</a></td>
        </tr>
    {% endfor %}
</table>
</body>
</html>