{% extends "base.html" %}

{% block content %}
<h1>List of Transfers</h1>

<ol class="list-group">
    {% for item in transfers %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
            <div class="fw-bold">From: {{ item.transfer_from }} To: {{ item.transfer_to }}</div>
            {{ item.transfer_date.date }}<br>
            <a href="transfers/update/{{ item.id }}">Edit</a>
            <a href="transfers/delete/{{ item.id }}">Delete</a>
            {%if transfer_reason%}
            {{ item.transfer_reason }}
            {%endif%}
        </div>
        <span class="badge bg-primary ">{{ item.transfer_amount }}</span>
    </li>
{% endfor %}
</ol>

{% endblock %}
